# Ignore node_modules in both app and server
web/node_modules/
server/node_modules/

# Ignore package-lock.json in both web and server
web/package-lock.json
server/package-lock.json

# Ignore .env files in bot web and server
web/.env
server/.env

# production
web/dist
web/dist-ssr
web/*.local

# Logs
web/logs
web/*.log
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/pnpm-debug.log*
web/lerna-debug.log*

# Editor directories and files
web/.vscode/*
web/!.vscode/extensions.json
web/.idea
web/.DS_Store
web/*.suo
web/*.ntvs*
web/*.njsproj
web/*.sln
web/*.sw?

# (Optional) If you ever have top-level node_modules or env files
node_modules/
.env

server/assets/photos/*