.home {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;

	.search-wrapper {
		width: inherit;
		height: inherit;
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		gap: 15px;
		padding: 20px;
		overflow-x: hidden;
		overflow-y: auto;

		.poster-wrapper {
			width: 75px;
			height: 112.5px;
			overflow: hidden; // safety net in case the image ever overflows the box
			border-radius: 4px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				border-radius: inherit;
			}

			@media only screen and (min-width: 600px) {
				width: 150px;
				height: 225px;
			}
		}
	}

	.carousel-wrapper {
		display: flex;
		flex-direction: column;
		gap: 20px;
		justify-content: center;
		padding: 20px;
		padding-left: 0;
	}
}
