.admin-side-nav {
	width: 280px;
	flex: 1;

	.admin-drawer-content {
		flex: 1;
		color: var(--text-primary);

		.router-link {
			text-decoration: none;
			color: var(--text-primary);
		}

		.brand {
			font-family: 'Bebas Neue', cursive;
			color: var(--accent);
			font-size: 40px;
			text-shadow:
				0 0 8px black,
				0 0 20px black,
				0 0 40px black;
		}

		.label {
			font-size: 10px;
			font-weight: bold;
			margin-top: 15px;
			margin-bottom: 5px;
		}

		li {
			display: flex;
			align-items: center;
			padding: 5px;
			cursor: pointer;

			.icon {
				font-size: 18px;
				color: var(--text-primary);
			}

			span {
				font-size: 13px;
				font-weight: bold;
				margin-left: 10px;
				color: var(--text-primary);
			}

			&:hover {
				background: rgba(64, 35, 82, 0.692) !important;

				span,
				.icon {
					color: var(--text-on-accent);
				}
			}
		}
	}
}

.user-drawer-content {
	width: 280px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	flex: 1;
	padding-top: 95px;
	background: linear-gradient(to top, transparent 0%, rgb(26, 16, 32, 0.6) 50%);
	z-index: 1101;
	transform: translateX(-100%);
	transition: all 2s ease;

	.profile {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.user-info {
			display: flex;
			align-items: center;
			gap: 15px;

			img {
				width: 30px;
				height: 30px;
				border-radius: 100%;
				object-fit: cover;
				cursor: pointer;
			}

			h2 {
				color: var(--text-on-accent);
			}
		}

		.profile-options {
			.options {
				display: none;
			}

			&:hover {
				.options {
					display: flex;
					flex-direction: column;
					position: absolute;
					background: rgba(64, 35, 82, 0.692) !important;
					border-radius: 5px;

					span {
						padding: 5px;
						color: var(--text-on-accent);
						cursor: pointer;
					}

					hr {
						border-color: var(--text-secondary);
					}
				}
			}
		}
	}

	.search {
		display: flex;
		align-items: center;
		gap: 10px;
	}

	&.open {
		transform: translateX(0);
	}
}
